tr:nth-child(even) {
    background-color: #E5E5E5;
}
tr:nth-child(odd) {
    background: #ffff;
}
.table{
    margin-left: 20px;
    margin-right: 20px !important;
}
.theader1{
    background-color: #E5E5E5 !important;
}
@media (max-width: 1090px) {
    .res-table{
        overflow-x:auto;
        white-space: nowrap;
    }
}
.formshow{
    width: 50%;
    min-width: 350px;
}
.showp{
    display: flex;
    justify-content: center;
}