.mytd{
    padding-top: 25px !important;
}
.smg1{
  margin-right: 10px;
}
.table {
  border-collapse: separate;
  border-spacing:0 20px;
  width: 100%;
}
.mytr{
  background-color: white;
}
.res-table{
  overflow-x:auto;
}