.mytd{
    padding-top: 25px !important;
}
.smg1{
  margin-right: 10px;
}
.table {
  border-collapse: separate;
  border-spacing:0 20px;
  width: 100%;
}
.mytr{
  background-color: white;
}
.res-table{
  overflow-x:auto;
  white-space: nowrap;
}
.button1{
    display: flex;
    justify-content: center;
}
.editform{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fromcon{
  width: 40%;
}
/* form control for error */
.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}