@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat';
    background-image: linear-gradient(to right, #00C1FE , #FAFFC1);
}
.mycontainer{
    display: flex;
    justify-content: center;
}
.card{
    margin-top: 175px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 475px;
}
.ctitle1{
    margin-top: 44px;
    margin-left: 66px;
    padding-left: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    border-left: 6px solid #00C1FE;
}
.ctitile2{
    margin-top: 43px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
}
.cpara{
    margin-top: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #6C6C6C;
}
.form1{
    max-width: 415px;
    min-width: 200px;
    margin-left: 45px;
    margin-right: 45px;
}
.btn-color{
    margin-top: 15px;
    background-color: #00C1FE;
    color: white;
    width: 100%;
}
.cpara2{
    text-align: center;
    margin-top: 27px ;
    margin-bottom: 41px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
.mylink{
    color: #00C1FE;
}
.labale1{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.input1{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 15px;
}
.mycontainer2{
    display: flex;
}
.sidebar{
    background-color: #FAFFC1;
}
.dtitle1{
    margin-top: 18px;
    margin-left: 37px;
    margin-right: 147px;
    padding-left: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    border-left: 6px solid #00C1FE;
}
.pimg{
    border-radius: 50%;
}
.profile{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ptitle{
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
}
.dlink{
    text-decoration: none;
    color: #00C1FE;
}
        
.sidebar {
    margin: 0;
    padding: 0;
    background: #FAFFC1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  

div.content {
    margin-left: 257px;
    padding: 1px 16px;
    height: 1000px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 80px
}
.myspan{
        margin-left: 19px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
}
.btn-color2{
    color: black;
    width: 80%;
}
.btn-active1{
    background-color: #00C1FE;
}
.sbtn{
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 4px;
    padding-left: 45px;
}